<main class="l-main">
        <!-- ============ HOME ============ -->
        <section class="home" id="home">
            <div class="home__container bd-grid">
                <div class="home__stationery">
                    <div class="home__shape"></div>
                    <img src="https://www.360office.co.uk/wp-content/uploads/2021/05/stationery-images-1024_1024.png" alt="" class="home__img">
                </div>

                <div class="home__data">
                    <span class="home__new">New in</span>
                    <h1 class="home__title">STATIONERY<br> LOREM </h1>
                    <p class="home__description">
                        Explore the new collections of stationery
                    </p>
                    <a href="#featured" class="button">Explore now</a>
                </div>
            </div>
        </section>

        <!-- ============ FEATURED ============ -->
        <section class="featured section" id="featured">
            <h2 class="section-title">FEATURED PRODUCTS</h2>

            <div class="featured__container bd-grid">
                <article class="stationery">
                    <img src="https://product.hstatic.net/1000107366/product/mono_main_6363b2b4a02a468da3115026f8501510_grande.png" alt="" class="stationery__img">
                    <span class="stationery__name">Eraser</span>
                    <span class="stationery__price">5.000đ</span>
                    <a href="" class="button-light">Add to Cart <i class="fa-solid fa-arrow-right button-icon"></i></a>
                </article>

                <article class="stationery">
                    <img src="https://product.hstatic.net/1000107366/product/mono_main_6363b2b4a02a468da3115026f8501510_grande.png" alt="" class="stationery__img">
                    <span class="stationery__name">Eraser</span>
                    <span class="stationery__price">5.000đ</span>
                    <a href="" class="button-light">Add to Cart <i class="fa-solid fa-arrow-right button-icon"></i></a>
                </article>

                <article class="stationery">
                    <img src="https://product.hstatic.net/1000107366/product/mono_main_6363b2b4a02a468da3115026f8501510_grande.png" alt="" class="stationery__img">
                    <span class="stationery__name">Eraser</span>
                    <span class="stationery__price">5.000đ</span>
                    <a href="" class="button-light">Add to Cart <i class="fa-solid fa-arrow-right button-icon"></i></a>
                </article>

            </div>
        </section>

        <!-- ========== COLLECTION ========== -->
         <section class="collection section" id="discounted">
            <h2 class="section-title">DISCOUNTED PRODUCTS</h2>
            <div class="collection__container bd-grid">
                <div class="collection__card">
                    <div class="stationery__sale">Sale 30%</div>
                    <div class="collection__data">
                        <h3 class="collection__name">Ruler</h3>
                        <p class="collection__description">New collection 2024</p>
                        <a href="#" class="button-light">Buy now<i class="fa-solid fa-arrow-right button-icon"></i></a>
                    </div>

                    <img src="https://thienphuctran.com/wp-content/uploads/2020/08/unnamed-1.png" alt="" class="collection__img">
                </div>

                <div class="collection__card">
                    <div class="stationery__sale">Sale 30%</div>
                    <div class="collection__data">
                        <h3 class="collection__name">Ruler</h3>
                        <p class="collection__description">New collection 2024</p>
                        <a href="#" class="button-light">Buy now<i class="fa-solid fa-arrow-right button-icon"></i></a>
                    </div>

                    <img src="https://thienphuctran.com/wp-content/uploads/2020/08/unnamed-1.png" alt="" class="collection__img">
                </div>

                <div class="collection__card">
                    <div class="stationery__sale">Sale 30%</div>
                    <div class="collection__data">
                        <h3 class="collection__name">Ruler</h3>
                        <p class="collection__description">New collection 2024</p>
                        <a href="#" class="button-light">Buy now<i class="fa-solid fa-arrow-right button-icon"></i></a>
                    </div>

                    <img src="https://thienphuctran.com/wp-content/uploads/2020/08/unnamed-1.png" alt="" class="collection__img">
                </div>
            </div>
         </section>

         <!-- =========== OFFER ============ -->
          <section class="offer section" id="banner">
            <h2 class="section-title">BANNER</h2>
            <div class="offer__container bd-grid">
                <div class="offer__data">
                    <h3 class="offer__title">50% OFF</h3>
                    <p class="offer__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <a href="#" class="button">Shop now</a>
                </div>

                <img src="https://www.360office.co.uk/wp-content/uploads/2021/05/stationery-images-1024_1024.png" alt="" class="offer__img">
            </div>
          </section>

          <!-- ======== NEWSLETTER ========= -->
           <section class="newsletter section">
                <div class="newsletter__container bd-grid">
                    <div>
                        <h3 class="newsletter__title">Subscribe and Get <br> 10% OFF</h3>
                        <p class="newsletter__description">Get 10% discount for all products</p>
                    </div>

                    <form action="" class="newsletter__subscribe">
                        <input placeholder="ex@gmail.com" type="text" class="newsletter__input">
                        <a href="#" class="button">Subscribe</a>
                    </form>
                </div>
           </section>
    </main>