<main class="l-main">
    <!-- ALL PRODUCTS -->
    <section class="featured section" id="shop">
        <h2 class="section-title">ALL PRODUCTS</h2>

        <div class="featured__container bd-grid">
            <article class="stationery">
                <img src="https://product.hstatic.net/1000107366/product/mono_main_6363b2b4a02a468da3115026f8501510_grande.png" alt="" class="stationery__img">
                <span class="stationery__name">Eraser</span>
                <span class="stationery__price">5.000đ</span>
                <a href="" class="button-light">Add to Cart <i class="fa-solid fa-arrow-right button-icon"></i></a>
            </article>

            <article class="stationery">
                <img src="https://product.hstatic.net/1000107366/product/mono_main_6363b2b4a02a468da3115026f8501510_grande.png" alt="" class="stationery__img">
                <span class="stationery__name">Eraser</span>
                <span class="stationery__price">5.000đ</span>
                <a href="" class="button-light">Add to Cart <i class="fa-solid fa-arrow-right button-icon"></i></a>
            </article>

            <article class="stationery">
                <img src="https://product.hstatic.net/1000107366/product/mono_main_6363b2b4a02a468da3115026f8501510_grande.png" alt="" class="stationery__img">
                <span class="stationery__name">Eraser</span>
                <span class="stationery__price">5.000đ</span>
                <a href="" class="button-light">Add to Cart <i class="fa-solid fa-arrow-right button-icon"></i></a>
            </article>
        </div>
    </section>
</main>